html {
	background-color: #111111;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding: 79px;
}

* {
	color: white;
	font-family: Outfit Regular;
	text-align: center;
	text-decoration: none;
	transition-duration: 0.3s;
}

*::selection {
	background-color: #D91739;
}

.header_div {background-color: #111111AA;
	backdrop-filter: blur(5px);
	width: 100%;
	height: 15px;
	position: fixed;
	top: 0px;
	left: 0px;
	padding-top: 32px;
	padding-bottom: 32px;
	z-index: 5
}

.header_table {position: fixed;
	top: 25px;
	left: 30vw;
	width: 40%
}

a {
	font-size: 21;
	scale: 1;
	display: block;
	margin: auto;
}

a:hover {
	color: #D91739;
}

.standard_link {
	padding: 16px;
	text-decoration: underline;
}

div {
	width: 50%;
	padding-top: 128px;
	padding-bottom: 128px;
	margin: auto;
}

h1 {
	font-size: 32;
}

p {
	font-size: 21;
}

.top_image {
	width: 98vw;
	height: 100vh;
	object-fit: cover;
}

.top_logo {
	width: 50vw;
	position: absolute;
	top: 30vh;
	left: 25vw;
}

.button_down {
	color: white;
	border-radius: 25px;
	width: 50px;
	height: 50px;
	text-decoration: none;
	position: absolute;
	top: 90vh;
	left: 48vw;
	background-color: #555555AA;
	font-size: 35;
	padding-top: 0px;
	scale: 1;
}

.button_down:hover {
	color: white;
	background-color: #d91739AA;
	scale: 1;
	padding-top: 10px;
}

.scrolling_image {
	min-height: 30vh;
	background-attachment: fixed;
	background-position: center;
	background-position: no-repeat;
	background-size: cover;
	width: 100%;
	padding-top: 32px;
	padding-bottom: 32px;
	filter: brightness(0.5);
}

.blue {
	background-image: url("images/backgrounds/blue.jpg");
}

.redv2 {
	background-image: url("images/backgrounds/redv2.jpg");
}

.red {
	background-image: url("images/backgrounds/red.jpg");
}

.pink {
	background-image: url("images/backgrounds/pink.jpg");
}

.teel {
	background-image: url("images/backgrounds/teel.png");
}

.social_logo {
	width: 3vw;
	scale: 1;
}


.youtube {
	scale: 1.4;
}

.portfolio_card {
	width: 100%;
	padding-top: 32px;
	scale: 1;
	filter: grayscale(1);
}

.portfolio_card:hover {
	scale: 1.01;
	filter: grayscale(0);
}

.gallery_image {
	width: 100%;
	height: 200px;
	object-fit: cover;
	scale: 1;
	filter: grayscale(1);
}

.gallery_image:hover {
	scale: 1.01;
	filter: grayscale(0);
}

.gallery_cell {
	padding: 4px;
}

td {
	width: 33%;
}

.award {
	scale: 0.5;
}

@font-face {
	font-family: Outfit;
	src: url("fonts/Outfit-Medium.ttf");
}