html {
	background-color: #111111;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding: 79px;
}

* {
	color: white;
	font-family: Outfit Regular;
	text-align: center;
	text-decoration: none;
	transition-duration: 0.3s;
}

*::selection {
	background-color: #D91739AA;
}

a {
	font-size: 21;
	scale: 1;
	display: block;
	margin: auto;
}

a:hover {
	scale: 1.1;
}

div {
	width: 50%;
	padding-top: 32px;
	padding-bottom: 32px;
	margin: auto;
}

h1 {
	font-size: 32;
}

p {
	font-size: 21;
}

.top_image {
	width: 100vw;
	height: 100vh;
}

.top_logo {
	width: 50vw;
	position: absolute;
	top: 30vh;
	left: 25vw;
}

.button_down {
	border-radius: 50px;
	width: 50px;
	height: 50px;
	text-decoration: none;
	position: absolute;
	top: 90vh;
	left: 48vw;
	background-color: #555555AA;
	font-size: 35;
	padding-top: 0px;
	scale: 1;
}

.button_down:hover {
	background-color: #555555DD;
	scale: 1;
	padding-top: 10px;
}

.scrolling_image {
	min-height: 30vh;
	background-attachment: fixed;
	background-position: center;
	background-position: no-repeat;
	background-size: cover;
	width: 100%;
}

.blue {
	background-image: url("images/blue.jpg");
}

.redv2 {
	background-image: url("images/redv2.jpg");
}

.red {
	background-image: url("images/red.jpg");
}

.pink {
	background-image: url("images/pink.jpg");
}

.social_logo {
	width: 3vw;
	scale: 1;
}

.social_logo:hover {
	scale: 1.1;
}

.portfolio_card {
	width: 100%;
	padding-top: 32px;
	scale: 1;
	filter: grayscale(1);
}

.portfolio_card:hover {
	scale: 1.01;
	filter: grayscale(0);
}