html {
	background-color: #111111;
	scroll-behavior: smooth;
	overflow-x: hidden;
	scroll-padding: 210px;
}

body {
	overflow-x: hidden;
}

* {
	color: white;
	font-family: Outfit Regular;
	text-align: center;
	text-decoration: none;
	padding-top: 32px;
	padding-bottom: 32px;
	transition-duration: 0.3s;
}

*::selection {
	background-color: #D91739AA;
}

.header_div {background-color: #111111AA;
	backdrop-filter: blur(5px);
	width: 100%;
	height: 150px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 5
}

.header_table {
	padding-top: 50px;
	width: 80%;
	margin: auto;
}

a {
	padding-top: 0px;
	font-size: 45;
	scale: 1;
	display: block;
	margin: auto;
	margin-top: -50px;
}

.standard_link {
	padding: 64px;
	text-decoration: underline;
}

div {
	width: 100%;
	padding-top: 32px;
	padding-bottom: 32px;
	margin: auto;
}

h1 {
	font-size: 80;
}

p {
	font-size: 50;
}

.top_image {
	height: 100vh;
	position: relative;
	top: 0px;
	left: -800px;
}

.top_logo {
	width: 80vw;
	position: absolute;
	top: 30vh;
	left: 10%;
}

.button_down {
	border-radius: 100px;
	width: 200px;
	height: 200px;
	text-decoration: none;
	position: absolute;
	top: 80%;
	left: 40%;
	background-color: #555555AA;
	font-size: 150;
	padding: 0px;
	scale: 1;
}

.scrolling_image {
	min-height: 30vh;
	background-attachment: fixed;
	background-position: center;
	background-position: no-repeat;
	background-size: cover;
	width: 110%;
	filter: brightness(0.5);
}

.blue {
	background-image: url("images/blue.jpg");
}

.redv2 {
	background-image: url("images/redv2.jpg");
}

.red {
	background-image: url("images/red.jpg");
}

.pink {
	background-image: url("images/pink.jpg");
}

.teel {
	background-image: url("images/teel.png");
}

.social_logo {
	width: 10vw;
	scale: 1;
}

.youtube {
	scale: 1.4;
}

.portfolio_card {
	width: 100%;
	padding-top: 32px;
	scale: 1;
	filter: grayscale(1);
}

.portfolio_card:hover {
	scale: 1.01;
	filter: grayscale(0);
}

.gallery_image {
	width: 100%;
	height: 200px;
	object-fit: cover;
	scale: 1;
}

.gallery_cell {
	padding: 4px;
}

td {
	width: 33%;
}

.award {
	scale: 1;
}